h1 {
    text-align: center;
}

h4{
	margin-top: 40px;
}

img {
    display: inline;
    height: 160px;
    width: 160px;
}

#itemList {
	margin-top: 40px;
}
.itemCard {
	display: inline-block;
	width: 160px;
	margin-left: 30px;
	margin-top: 15px; 
	border: solid black 2px;
	border-radius: 3px;
	padding: 10px;
	background-color: rgb(228, 246, 255);
}
